<div class="jumbotron text-center">
    <h1>Tic Tech Toe!</h1>
    <p>It's  <span class="text-danger">{{currentPlayer}}</span> turn.</p>
    <div style=" display: inline-block;margin-left: auto;
    margin-right: auto;">    
    <table style="font-size: 5em; cursor:pointer;" >
    <tr>
        <td data-id="00" data-ng-click="clickedBlock($event)" style="border-width: 0px 5px 5px 0px; border-style: solid; min-width: 2em; height: 2em;"></td>
        <td data-id="01" data-ng-click="clickedBlock($event)" style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
        <td data-id="02" data-ng-click="clickedBlock($event)" style="border-width: 0px 0px 5px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
    </tr>
    <tr>
        <td data-id="10" data-ng-click="clickedBlock($event)" style="border-width: 5px 5px 5px 0px; border-style: solid; min-width: 2em; height: 2em;"></td>
        <td data-id="11" data-ng-click="clickedBlock($event)" style="border-width: 5px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
        <td data-id="12" data-ng-click="clickedBlock($event)" style="border-width: 5px 0px 5px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
    </tr>
    <tr>
        <td data-id="20" data-ng-click="clickedBlock($event)" style="border-width: 5px 5px 0px 0px; border-style: solid; min-width: 2em; height: 2em;"></td>
        <td data-id="21" data-ng-click="clickedBlock($event)" style="border-width: 5px 5px 0px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
        <td data-id="22" data-ng-click="clickedBlock($event)" style="border-width: 5px 0px 0px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
    </tr>
</table>
</div>

<h4>Created by: Jose Renteria</h4>
</div>